*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color: #333;}
ul li{list-style:none;}

section{
  width: 50%;
  margin:0 auto;
  border: 1px solid orange;
}

th{
  background-color: aquamarine;
}

h1{
  text-align: center;
}
div.numBox{
}
div.subjectBox input{
  width: 30px;
}