*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color: #333;}
ul li{list-style:none;}

section{
  width: 50%;
  margin:0 auto;
  border: 1px solid orange;
  text-align: center;
}
section div{
  margin: 10px 0 10px 0;
}
section button {
  padding: 4px;
}

th{
  padding: 4px;
  background-color: bisque;
}
table{
  margin:0 auto;
}

h1{
  
}
div.numBox{
}
div.subjectBox input{
  width: 29px;
}